[access "refs/*"]
	owner = group Administrators
[project]
	description = The Qt Feedback repository \n\
\n\
ssh://codereview.qt-project.org:29418/qt/qtftp.git
[receive]
	requireContributorAgreement = true
	requireChangeId = true
[cherryPick]
	includeReviewedOn = true
[submit]
	action = cherry pick
	mergeContent = true
[cherryPick "categoryFooters"]
	Sanity-Review = true
[access]
	inheritFrom = All-Non-CI-Projects
